body{
    text-align: center;
    background-color: rgb(3, 31, 98);
}

.heading{
    font-size: 5rem;
    color:beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px rgb(4, 140, 218);
}

footer{
    
    color:azure;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 90px;
    text-shadow: 3px 3px rgb(5, 6, 7);
}

.w{
    background-image: url("images/tom1.png");
}

.a{
    background-image: url("images/tom2.png");
}

.s{
    background-image: url("images/tom3.png");
}

.d{
    background-image: url("images/tom4.png");
}

.j{
    background-image: url("images/snare.png");
}

.k{
    background-image:url("images/crash.png");
}

.l{
    background-image: url("images/kick.png");
}

.set{
    margin:10% auto;
    display: flex;
    justify-content: center;
}

.pressed{

    box-shadow: 0 3px 4px 0 green;
    opacity: 0.5;
}

.drum{
    outline: none;
    border: 10px solid white;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(42, 149, 165);
    text-shadow: 3px 0px white;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: azure;
    line-height: 2px;
    font-weight: 900;    

}